.footer {
  margin-top: 36px;
}

.footer_divider {
  width: 100%;
  border-top: 1px solid var(--primary-accent-color);
}

.footer_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 24px;
}

.footer_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: var(--primary-accent-color);
  border: none;
  border-radius: 50%;
}

.footer_social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 24px;
}

.footer_contacts {
  margin-top: 24px;
}

.footer_text {
  font-family: var(--font-seconady);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: -0.04em;
  text-align: center;
  margin-bottom: 16px;
}

.footer_text:last-child {
  margin-bottom: 0;
}
