.footer {
  margin-top: 36px;
}

.max_width {
  max-width: 1400px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 24px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: var(--primary-accent-color);
  border: none;
  border-radius: 50%;
  transition: background-color 0.5s ease;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--primary-main-color);
}

.social_mobile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 24px;
}

.social_tablet {
  display: none;
}

.contacts_column:first-child {
  margin-bottom: 16px;
}

.contacts {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  margin-bottom: 24px;
}

.text {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: -0.04em;
  text-align: center;
  margin-bottom: 16px;
}

.text:last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .footer {
    margin-top: 100px;
    padding: 0 30px;
  }

  .max_width {
    padding: 0 30px;
  }

  .container {
    gap: 24px;
  }

  .contacts {
    flex-direction: row;
    margin-top: 16px;
    margin-bottom: 40px;
    gap: 24px;
  }

  .contacts_column {
    display: flex;
    justify-content: space-between;
    width: calc(50% - 12px);
  }

  .column {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(50% - 12px);
  }

  .social_mobile {
    display: none;
  }

  .social_tablet {
    display: flex;
    gap: 8px;
  }
}

@media (min-width: 1280px) {
  .footer {
    margin-top: 120px;
  }

  .max_width {
    padding: 0 100px;
  }

  .column:last-child {
    margin-left: 161px;
  }

  .contacts_column:last-child {
    margin-left: 161px;
  }
}
