.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #173d3340;
  z-index: 1200;
  @media (min-width: 480px) {
    justify-content: right;
  }
}

.modal_container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 701px;
  padding: 24px;
  border-radius: 25px;
  background-color: #173d33bf;
  margin: 36px 20px 0 20px;
  @media (min-width: 480px) {
    margin: 36px 30px 0 0;
  }
  @media (min-width: 768px) {
    margin: 24px 100px 0 30px;
  }
}
