.feedback_form {
  display: flex;
  flex-direction: column;
  gap: 28px;
  width: 100%;
  background-color: var(--background-accent-color);
  padding: 36px 12px;
}

.feedback_form_label {
  font-family: var(--font-seconady);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: -0.04em;
  text-align: justify;
  margin-bottom: 8px;
}

.feedback_input {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid;
  border-color: var(--primary-accent-color);
  padding-bottom: 8px;
}

.feedback_err_text {
  font-family: var(--font-seconady);
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.04em;
  text-align: right;
  color: var(--primary-error-color);
}

.feedback_sbmt_btn {
  display: flex;
  align-items: center;
  gap: 12px;
  align-self: flex-end;
  width: 99px;
  height: 39px;
  border: 1px solid var(--primary-accent-color);
  border-radius: 500px;
  padding-left: 16px;
}

.feedback_btn_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--primary-accent-color);
}
