.accordion_divider {
  width: 100%;
  border-top: 1px solid var(--primary-accent-color);
  margin-bottom: 16px;
}

.accordion_container {
  margin-top: 16px;
}

.accordion_column {
  display: flex;
  align-items: center;
  gap: 8px;
}

.accordion_column_icon {
  width: 16px;
}

.accordion_column_content {
  padding-left: 24px;
}

.accordion_tile {
  font-family: var(--font-fira);
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.04em;
  text-align: justify;
  cursor: pointer;
}

.accordion_text {
  margin-top: 16px;
  font-family: var(--font-fira);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: -0.04em;
  text-align: justify;
}

@media (min-width: 1280px) {
  .accordion_tile {
    font-size: 24px;
    line-height: 28.8px;
  }

  .accordion_text {
    margin-top: 24px;
    font-size: 16px;
    line-height: 19.2px;
  }
}
