.accordion_divider {
  width: 100%;
  border-top: 1px solid var(--primary-accent-color);
  margin-bottom: 16px;
}

.accordion_container {
  margin-top: 16px;
}

.accordion_column {
  display: flex;
  align-items: center;
  gap: 8px;
}

.accordion_column_icon {
  width: 16px;
}

.accordion_column_content {
  /* width: calc(100% - 16px - 8px); */
  padding-left: 24px;
}

.accordion_tile {
  font-family: var(--font-seconady);
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.04em;
  text-align: justify;
}

.accordion_text {
  margin-top: 16px;
  font-family: var(--font-seconady);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: -0.04em;
  text-align: justify;
}
