:root {
  --font-primary: Oswald;
  --font-seconady: Fira Sans;

  --background-main-color: #f3f5fa;
  --background-accent-color: #eaedf1;
  --background-menu-color: rgba(23, 61, 51, 0.75);

  --primary-main-color: #173d33;
  --primary-accent-color: #97d28b;
  --primary-light-color: #ffffff;
  --primary-error-color: #d28b8b;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth !important;
}

body {
  color: #173d33;
  background-color: #f3f5fa;
}

a {
  color: inherit;
  text-decoration: none;
}

textarea:focus,
input:focus {
  outline: none;
}
