.swiper_card {
  width: 100%;
  height: 318px;
  background-color: var(--background-accent-color);
  margin-top: 19px;
}

.swiper_card_img_container {
  position: relative;
  width: 100%;
  height: 160px;
}

.swiper_card_content {
  margin-top: 21px;
  padding: 0 12px 12px 12px;
}

.swiper_card_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.swiper_card_title {
  width: 175px;
  height: 66px;
  font-family: var(--font-seconady);
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.04em;
  text-align: justify;
}

.swiper_card_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background-color: var(--primary-accent-color);
  cursor: pointer;
}

.swiper_card_divider {
  width: 100%;
  border-top: 1px solid var(--primary-accent-color);
  margin-top: 21px;
  margin-bottom: 12px;
}

.swiper_card_descripton {
  width: 176px;
}

.swiper_card_text {
  font-family: var(--font-seconady);
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.04em;
}
