.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 140px;
  height: 39px;
  background-color: var(--primary-accent-color);
  border: none;
  border-radius: 500px;
  color: var(--primary-main-color);
  margin-left: 12px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.button:hover {
  background-color: var(--primary-main-color);
  color: var(--primary-accent-color);
}

.button_span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14px;
  height: 14px;
  background-color: var(--primary-accent-color);
  border-radius: 50%;
}
