.continer {
  display: flex;
  flex-direction: column;
}

.container_info {
  margin-top: 24px;
}

.title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
}

.text {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: -0.04em;
  text-align: justify;
}

.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 141px;
  height: 39px;
  border: 1px solid var(--primary-accent-color);
  border-radius: 500px;
  background-color: transparent;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.04em;
  text-align: left;
  margin: 24px auto;
  padding: 4px 4px 4px 16px;
  cursor: pointer;
}

.icon_span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: var(--primary-accent-color);
  border-radius: 50%;
}

.contacts_container {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  text-align: center;
}

.contacts {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: -0.04em;
  text-align: center;
}

.email {
  margin-top: 8px;
}

.copyright {
  display: none;
}

.image_container {
  position: relative;
  height: 240px;
  margin-top: 24px;
}

@media (min-width: 480px) {
}

@media (min-width: 768px) {
  .continer {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  .container_title {
    width: calc(50% - 11px);
  }

  .title {
    font-size: 48px;
    line-height: 48px;
    max-width: 280px;
  }

  .container_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(50% - 11px);
    margin-top: 0;
  }

  .button {
    margin: 0;
  }

  .contacts_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 16px;
  }

  .contacts_container_address {
    min-width: calc(50% - 11px);
  }

  .contacts_container_mail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: calc(50% - 11px);
  }

  .contacts {
    text-align: left;
  }

  .email {
    margin-top: 0;
  }

  .copyright {
    display: block;
  }

  .image_container {
    height: 480px;
  }
}

@media (min-width: 1280px) {
  .container_title {
    width: calc(50% - 12px);
  }

  .container_info {
    width: calc(50% - 12px);
  }

  .title {
    font-size: 64px;
    line-height: 64px;
    max-width: 485px;
  }

  .text {
    max-width: 363px;
    margin-left: 135px;
  }

  .button {
    margin-left: 135px;
  }
  .contacts_container_address {
    min-width: calc(50% - 12px);
  }

  .contacts_container_mail {
    min-width: calc(50% - 11px);
    padding-left: 135px;
  }

  .image_container {
    height: 760px;
  }
}
