.main_container {
  margin-top: 146px;
}

.left_continer {
  width: 100%;
}

.text_left {
  font-family: var(--font-primary);
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
}

.text_right {
  font-family: var(--font-seconady);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: -0.04em;
  text-align: justify;
  margin-bottom: 24px;
}

.right_container {
  width: 100%;
  margin-top: 24px;
}

.btn_more {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 141px;
  height: 39px;
  border: 1px solid var(--primary-accent-color);
  border-radius: 500px;
  background-color: transparent;
  font-family: var(--font-seconady);
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.04em;
  text-align: left;
  margin: 0 auto;
  padding: 4px 4px 4px 16px;
  cursor: pointer;
}

.icon_span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: var(--primary-accent-color);
  border-radius: 50%;
}

.divider {
  width: 100%;
  border-top: 1px solid var(--primary-accent-color);
  margin-top: 24px;
}

.contacts_container {
  margin-top: 24px;
  text-align: center;
}

.contacts {
  font-family: var(--font-seconady);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: -0.04em;
  text-align: left;
  text-align: center;
}

.email {
  margin-top: 8px;
}

.image_container {
  position: relative;
  height: 240px;
  margin-top: 24px;
}
