.container {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 28px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
}

.navigate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 24px;
}

.pointer {
  color: var(--primary-main-color);
  font-size: 28px;
  font-weight: 300;
  line-height: 34px;
  letter-spacing: -0.04em;
  text-align: justify;
}

.pointer_span {
  color: var(--transparent-main-color);
}

.navigate_btn_container {
  display: flex;
  gap: 12px;
}

.navigate_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 66px;
  height: 66px;
  border-radius: 50%;
  border: 1px solid;
  border-color: var(--primary-main-color);
  background-color: transparent;
  cursor: pointer;
}

.navigate_icon {
  width: 36px;
  height: 36px;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }

  .title_container {
    width: 50%;
  }

  .vertical_divider {
    height: 65px;
    width: 1px;
    border-left: 1px solid var(--primary-accent-color);
  }

  .title {
    font-size: 36px;
    line-height: 36px;
  }

  .navigate {
    width: 50%;
    margin-top: 0;
    margin-left: 9px;
  }
}

@media (min-width: 1280px) {
  .title {
    font-size: 48px;
    line-height: 48px;
  }

  .navigate_btn {
    width: 84px;
    height: 84px;
  }
}
